.Nav-header {
    width: 100%;
    background-color: #2a2d33;
    height: 13vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: calc(10px + 1.5vmin);
    color: white;
    position: fixed;
    border: none;
    border-radius: 0 0 10px 10px;
    z-index: 1;
  }

.Nav-box{
    padding-bottom: 14vh;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.flex-box{
    button {
        margin-right: 20px;
        padding: 20px;
        border: none;
        border-radius: 10px;
        color: honeydew;
        background-color: #2a2d33;
        font-size: 1em;
    }
    button:hover{
        background-color: rgb(58, 77, 58);
        transition: .3s;
        cursor: pointer;
    }
}

.icon-position{
    padding-right: 5px;
    margin-bottom: -3px;
}

.logoBox{
    margin-right: auto;
    margin-left: 100px;
}

#nav{
    transition: .5s;
}

@media screen and (max-width:952px) {
    #navBtn{
        display: none;
    }
}

@media screen and (max-width:600px) {
    .flex-box{
        flex-direction: column;
    }
    .Nav-header{
        align-items: center;
        justify-content: flex-start;
        height: 22vh;
    }
    .Nav-box{
        padding-bottom: 23vh;
    }
    ul{
        margin-top: 0;
        button{
            padding: 4px;
        }
    }
}