.Nav-header {
    background-color: #2a2d33;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: calc(10px + 1.5vmin);
    color: white;
    border: none;
    border-radius: 0 0 10px 10px;
    z-index: 1;
  }

.fixed{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.Nav-box{
    padding-bottom: 15vh;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.flexDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    opacity: .8;
    color: whitesmoke;
    height: 30vh;
    transition: .5s;
}

.flex-box{
    button {
        margin-right: 20px;
        padding: 20px;
        border: none;
        border-radius: 10px;
        color: honeydew;
        background-color: #2a2d33;
        font-size: 1em;
        svg{
            font-size: 1.1em !important;
        }
    }
    button:hover{
        background-color: rgb(58, 77, 58);
        transition: .3s;
        cursor: pointer;
    }
}

.icon-position{
    padding-right: 5px;
    margin-bottom: -3px;
}

.logoBox{
    margin-right: auto;
    margin-left: 100px;
}

.logo{
    width: 60px;
    height: 40px;   
    margin: auto 10px;
}

#nav{
    transition: .5s;
}

.bar{
    display: flex;
    justify-content: space-between;
    background-color: #2a2d33;
    height: 8vh;
    width: 100%;
}

.show{
    display: none;
}

.logo{
    width: 40px;
    height: auto;
}

.button{
    height: 40px;
    width: 40px;
    margin: auto 20px;
    background-color: honeydew;
    border: 1px solid black;
    border-radius: 5px;   
}

.button:hover{
    opacity: .8; 
}

.buttons{
    background-color: transparent;
    color: honeydew;
    border: none;
    font-size: 1em;
}
.buttons:hover{
    color: rgb(146, 150, 146);
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width:1120px) {
    #navBtn{
        display: none;
    }
}

@media screen and (max-width:600px) {
    .hide{
        display: none;
    }
    .show{
        display: block;
        transition: .5s;
    }
    .Nav-box{
        padding-bottom: 8vh;
    }
}
 
@keyframes inAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
  
@keyframes outAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}
